@import "compass/css3";

/* REMs */
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}
@mixin rem($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value*10}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  } 

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  } 
  
  #{$property}: $pxValues; 
  #{$property}: $remValues; 
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html {
color: lighten(#000, 20%);
	font-size: 62.5%;
}

body {
	font: normal 16px Tahoma, Geneva, Helvetica, sans-serif;
	margin: 0 auto;
	padding: 0;
}
@media only all and (min-width: 760px) {
	body {
		@include rem(padding, 2);
	}
}

table {
	display: block;
	margin: 0;
	border: none;
	background: #FFF;
	@include rem(font-size, 1.4);
}
@media only all and (min-width: 760px) {
	table {
		display: table;
		width: 100%;
		border: 1px solid #e5e5e5;
		border-top: none;
	}
}

tbody {
	display: block;
}
@media only all and (min-width: 760px) {
	tbody {
		display: table-row-group;
	}
}

.table-caption {
	display: block;
	width: 100%;
	background: #39A7E7;
	color: #FFF;
	@include rem(font-size, 2);
	@include text-shadow( 
		0 1px 0 rgba(0, 0, 0, 1.0),
		0 1px 0 rgba(0, 0, 0, 1.0)
	);
	text-align: center;
	height: 44px;
	line-height: 44px;
	border: none;
	border-bottom: 2px solid #999;
}
@media only all and (min-width: 760px) {
	.table-caption {
		border: 1px solid #e5e5e5;
		border-top: none;
		border-bottom: none;
		height: 55px;
		line-height: 55px;
	}
}

tr {
	position: relative;
	display: block;
	border-bottom: 1px solid #ccc;
	@include rem(padding, 0.8);
	
	&:nth-child(even) {
		background: #f5f5f5;
	}
}
@media only all and (min-width: 760px) {
	tr {
		display: table-row;
	}
}

thead {
	tr {
		display: none;
	}
}
@media only all and (min-width: 760px) {
	thead {
		background: #212121;
		color: #FFF;
		
		tr {
			display: table-row;
			
			th {
				font-weight: normal;
				@include rem(font-size, 1.5);
			}
		}
	}
}

td {
	display: block;
	border: none;
	position: relative;
	text-align: left;
	
	&.actions {
		position: absolute;
		top: 4px;
		right: 24px;
	}
	&.checkbox {
		position: absolute;
		top: 4px;
		right: 4px;
	}
}
@media only all and (min-width: 760px) {
	td, th {
		display: table-cell;
		@include rem(padding, 0.6);
		border-bottom: 1px solid #e5e5e5;
		text-align: center;
		
		&.actions, &.checkbox {
			position: static;
		}
	}
}
td:before {
	content: attr(data-label);
	display: inline-block;
	width: 15%;
	background: #999;
	@include border-radius(6px);
	height: 20px;
	@include rem(margin, 0, 1, 0, 0);
	@include rem(padding, 0, 0.5);
	@include rem(font-size, 1);
	line-height: 20px;
	text-align: center;
	color: #FFF;
	overflow: hidden;
}
@media only all and (min-width: 560px) {
	td:before {
		width: 12%;
		@include rem(font-size, 1.2);
	}
}
@media only all and (min-width: 760px) {
	td:before {
		content: "";
		display: none;
	}
}
td.actions, td.checkbox {
	&:before {
		display: none;
	}
}

span {
	&.yes, &.no {
		display: inline-block;
		width: 12px;
		height: 12px;
		@include border-radius(6px);
		text-indent: -9999px;
		overflow: hidden;
	}
	&.yes {
		background: green;
	}
	&.no {
		background: red;
	}
}
@media all and (min-width: 760px) {
	span {
		&.yes, &.no {
			display: block;
			margin: 0 auto;
			text-align: center;
		}
	}
}